<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
</head>
<body>
    <h1>Kyle Stultz</h1>
    <p>My name is Kyle Stultz. I am 22 years old and from St. Andrew Jamaica. I'm an Information Technology Major at the University of West Indies, whose currently in third year. 
        I interested in learning web development, UX desgin and cybersecuirty. As it pertains to web development, the programming languages that have my inertest the most are python, css, javascript and html.</p>
</body>
</html>